
@font-face{
    font-family: museosans;
    src: url(../fonts/MuseoSans_500.ttf);
    
}

/*basic and common classes*/

body {
    font-family: 'museosans','Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #fff;
}
a,button{
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -ms-transition:0.5s all;
    -o-transition:0.5s all;
}
a{
    text-decoration:none;
}
a:focus,a:hover,a:active{
    outline: 0;
    box-shadow: 0;
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0px;
}
.h-100vh{
    height: 100vh;
}
.font-ms{
    font-family:museosans; 
}
.font-lato{
    font-family:Lato; 
}
.bg-primary{
    background: #0fb4b6 !important;
}
.bg-light-green{
    background: #eeeeee;
}

.btn-primary{
    color: #fff;
    background-color: #0fb4b6;
    border-color: #0fb4b6;
}
.text-primary{
    color: #0fb4b6 !important;
}
.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
 color: #fff;
 background-color: #10c8ca;
 border-color: #10c8ca;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
    outline: none;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
    outline: none;
}
.btn.focus, .btn:focus, .form-control {
    outline: 0;
    box-shadow: none;
}
.form-control:focus {
    border-color: none;
    outline: 0;
    box-shadow: none;
}
.cutom-btn{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 1;
}
.img-wrap {
    position: relative;
    margin: auto;
}
.img-wrap img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}
textarea{
    resize: none;
    min-height: 100px !important;
}
label{
    margin-bottom: 0px;
}
.form-control {
    border-color: #c9c6cd;
    color: #8c8c8c;
    font-size: 14px;
    height: 30px;
}
select.form-control {
    height: 34px !important;
}
textarea.form-control {

}
/*navbar*/
.logo {
    height: 35px;
}
.nav-search-input .input-group
{
    width: 400px;  
    margin: 0 auto;
}
.nav-form-control .form-control{
   border: 2px solid #0fb4b6;
   border-right: 0px;
   height: 30px;
}
.nav-form-control .input-group-append .btn{
    height: 30px;
    border: 2px solid #0fb4b6;
    border-left: -0px;
    background: transparent;
    color:#14b5b7;
}
.nav-form-control .form-control:focus{
    box-shadow: none;
}
.nav-profile-img {
    width: 40px;
    height: 40px;
    display: inline-block;
}
.nav-profile-img img{
    margin-top: 15px;
}

/*End navbar*/
.section-bg{
    background: url('../img/bg.jpg') no-repeat center;
    height: 100vh;
    position: relative;
    background-size: cover;
}
.section-bg .color-overly {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: #ffffff80;
}
.form-div {
    width: 100%;
    z-index: 2;
}
.sign-social-btn{
    color: #fff;
    padding: 0px;
    border-radius: 0px;
    margin-bottom: 10px;
}
.sign-social-btn:hover{
    color: #0fb4b6;
}
.sign-social-btn .sign-social-btn-text{
   padding: 12px 12px;
}
.sign-social-btn span.fa-facebook{
   border-right: 1px solid #778db9;
   background: #3c5b9b;
   padding: 10px 12.5px;
}
.fb-btn {
    background: #4663a0;
}
.sign-social-btn span.fa-google-plus{
   border-right: 1px solid #778db9;
   background: #f63d27;
   padding: 10px 5px;
}
.google-btn {
    background: #f7513d;
}
.google-btn .sign-social-btn-text{
    padding: 12px 21px;
}

.sign-social-btn-div {
    border-right: 1px solid #c9c6cd;
    height: 150px;
}
.sign-form-control {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    border-bottom-color: #c9c6cd;
    color: #8c8c8c;
    font-size: 14px;
}
.alert-secondary {
    color: #858585;
    background-color: #ececec;
    border-color: #ececec;
    font-weight: 600;
}
.alert-secondary .alert-link {
    color: #0fb4b6;
    margin-left: 5px;
    font-weight: 600;
}

/*uploaded pages class*/

.custom-progress {
    height: 10px;
    background: #fff;
    border: 1px solid #bdbdbd;
    border-radius: 30px;
}
.upload-file-div {
    height: 190px;
}
.files-icon{
    width: 280px;
    height: 75px;
    margin-bottom: 20px;
}
.upload-btn-wrapper {
    text-align: center;
    display: block;
    width: 25%;
    margin: 0 auto 5px;
}
.upload-btn-wrapper input[type="file"] {
    position:absolute;
    top: -1000px;
}
.icon {
    width: 40px;
}
.border-dash{
    border: 2px dashed #bcbcbc;;
}
/*Footer*/
.footer-social-link li {
  background: #fff;
  padding: 3px 8px;
  font-size: 12px;
}
.footer-social-link .list-inline-item:not(:last-child) {
    margin-right: .2rem;
}
.footer-social-link li a{
    color: #0fb4b6;
}
.footer-social-link li:hover{
   background: #10c8ca;
}
.footer-social-link li:hover a{
    color:#fff;
}
footer a.text-white:hover{
    color: #10c8ca !important;
}






























